/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* common */
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
}
body {
  font-family: var(--fontFamily);
}
.container-fluid {
  max-width: 1699px;
}
/* common */

/* variable csss */
:root {
  --fontFamily: "Roboto", sans-serif;
  --color: #e74c3c;
  --color1: #000000;
  --color2: #dddddd;
  --color3: #666666;
  --color4: #cccccc;
  --color5: #444;
}
/* variable csss */

/* header */
header .navbar {
  padding: 0px 0;
}
header .navbar .navbar-brand {
  padding: 0px 0;
}
header .navbar .navbar-nav {
  gap: 13px;
}
header .navbar span .nav-link.btn {
  display: none;
}
header .navbar .navbar-nav .nav-item {
  position: relative;
  padding-top: 34px;
  padding-bottom: 34px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
header .navbar .navbar-nav .nav-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: transparent;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

header .navbar .navbar-nav .nav-item.active::after,
header .navbar .navbar-nav .nav-item:hover:after {
  background: var(--color);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
header .navbar .navbar-nav .nav-item:last-child:after {
  height: 0;
}
header .navbar .navbar-nav .nav-item:hover .nav-link {
  color: var(--color);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

header .navbar .navbar-nav .nav-item .nav-link {
  color: var(--color1);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  padding: 11px 19px;
}
header .navbar .navbar-nav .nav-item.active .nav-link {
  color: var(--color);
}

header .navbar .navbar-nav .nav-item .nav-link.btn {
  background: var(--color);
  color: #fff;

  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
/* header */

/* home */
/* hero */
.hero {
  background-image: url("./../images/home/hero-slider/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.hero .swiper {
  padding: 230px 0;
}
.hero .swiper h4 {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 25px 40px 25px 25px;
  width: 100%;
  max-width: 630px;
  color: var(--color1);
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 30px;
}
.hero .swiper p {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 100%;
  max-width: 560px;
}
.hero .swiper-pagination {
  text-align: left;
  color: var(--color5);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
}
.hero .swiper-pagination:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 3.5rem;
  width: 215px;
  height: 2px;
  background-color: var(--color5);
}

.hero .swiper-pagination .swiper-pagination-current {
  color: #fff;
}
.hero .swiper-pagination .swiper-pagination-total {
  color: var(--color5);
}
/* hero */
/* who-we-are */

.who-we-are .container-fluid {
  padding-top: 165px;
  padding-bottom: 131px;
  border-bottom: 1px solid #eee;
}
.who-we-are .row:first-child {
  margin-bottom: 71px;
}
.who-we-are h3 {
  color: #000;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 30px;
}
.who-we-are p {
  color: var(--color3);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 0;
}
.who-we-are a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: var(--color);
  padding: 15px 32px;
  width: fit-content;
  display: flex;
  margin-left: auto;
}
.who-we-are h4 {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
}

.who-we-are .custom-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
}
.who-we-are .custom-flex > div {
  flex: 1 1 auto;
}
.who-we-are .custom-flex .logo {
  max-width: 92px;
  width: 100%;
  height: 100%;
  max-height: 100px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(231, 76, 60, 0.1);
}
.who-we-are .content p {
  max-width: 300px;
}
/* who-we-are */

/* our-buyer */
.our-buyer {
  padding-top: 130px;
  overflow: hidden;
}
.our-buyer h2 {
  max-width: 702px;
  color: var(--color1);
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px; /* 152.632% */
  margin-bottom: 16px;
}
.our-buyer p {
  color: var(--color3);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px; /* 181.25% */
  margin-bottom: 0;
}
.our-buyer .slider-arrows {
  max-width: 80px;
  max-height: 35px;
  min-width: 80px;
  min-height: 35px;
  width: 100%;
  height: 100%;
  position: relative;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.our-buyer .slider-arrows div {
  flex: 1 1 auto;
  border: 2px solid red;
  padding: 0;
  margin: 0;
  position: unset;
  width: 100%;
  height: 100%;
}

.our-buyer .slider-arrows div.swiper-button-disabled {
  border: 2px solid #a1a1a1;
}
.our-buyer .slider-arrows div.swiper-button-disabled svg path {
  fill: #a1a1a1;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.our-buyer .swiper {
  margin-top: 60px;
  margin-bottom: 165px;
  left: 7rem;
  max-width: 1899px;
}

.our-buyer .swiper .swiper-slide .img {
  margin-bottom: 33px;
  position: relative;
}
.our-buyer .swiper .swiper-slide .img img {
  width: 100%;
  max-height: 458px;
  height: 100%;
  object-fit: cover;
}
.our-buyer .swiper .swiper-slide .content h3 {
  color: var(--color);
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  margin-bottom: 11px;
}
.our-buyer .swiper .swiper-slide .content h4 {
  color: var(--color1);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 11px;
}
.our-buyer .swiper .swiper-slide .content p {
  color: var(--color3);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 0px;
}
.our-buyer .swiper .swiper-slide .swiper-button-next {
  top: 50%;
  left: -3.5rem;
  right: auto;
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translate(0rem, -50%);
  -webkit-transform: translate(0rem, -50%);
  -moz-transform: translate(0rem, -50%);
  -ms-transform: translate(0rem, -50%);
  -o-transform: translate(0rem, -50%);
  padding: 0;
  margin: 0;
}

/* our-buyer */

/* production sample */
.production-sample {
  box-sizing: border-box;
  background: url("./../images/home/production-sample/production-sample.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.production-sample .content {
  z-index: 2;
  position: relative;
  left: 80%;
  max-width: 648px;
  padding: 238px 0;
  transform: translateX(-80%);
  -webkit-transform: translateX(-80%);
  -moz-transform: translateX(-80%);
  -ms-transform: translateX(-80%);
  -o-transform: translateX(-80%);
}
.production-sample h2 {
  color: #000;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px; /* 152.632% */
  margin-bottom: 30px;
}
.production-sample p {
  color: #666;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px; /* 181.25% */
  margin-bottom: 40px;
}
.production-sample a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: #e74c3c;
  padding: 15px 19px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.production-sample a:hover {
  color: #e74c3c;
  border: 1px solid #e74c3c;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

/* production sample */

/* home */

/* footer */
footer {
  background-color: var(--color1);
  padding-top: 70px;
}
footer h4 {
  color: var(--color4);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}
footer ul {
  padding-left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  margin-bottom: 0;
}
footer ul li a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
footer ul li a.active,
footer ul li a:hover {
  text-decoration: underline;
  color: var(--color);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
footer form {
  margin-bottom: 43px;
}
footer form .form-col {
  position: relative;
}
footer form .form-col input,
footer form .form-col input:focus,
footer form .form-col input:focus-visible {
  background-color: #111111;
  color: var(--color4);
  border: 0;
  padding: 16px;
  box-shadow: none;
  outline: 0;
}
footer form .form-col input::placeholder {
  color: var(--color3);
}
footer form .form-col .btn {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
footer form .form-col .btn:focus,
footer form .form-col .btn:focus-within {
  border: 0;
  box-shadow: none;
  outline: 0;
}
footer p {
  color: var(--color4);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 0;
}
footer hr {
  opacity: 1;
  margin-top: 70px !important;
}
/* footer */

/* tiny-footer */
.tiny-footer {
  background-color: var(--color1);
  padding: 40px 0;
}
.tiny-footer p {
  color: var(--color4);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 0;
}
.tiny-footer p a {
  color: var(--color);
}
.tiny-footer ul {
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 35px;
}

/* tiny-footer */

/* responsive */
@media (min-width: 1400px) and (max-width: 1500px) {
}
@media (min-width: 1300px) and (max-width: 1399px) {
}
@media (min-width: 1024px) and (max-width: 1299px) {
}
@media (min-width: 992px) and (max-width: 1200px) {
  /* navbar */
  header .navbar .navbar-nav {
    gap: 0px;
  }
  /* navbar */
  /* who-we-are */
  .who-we-are .custom-flex {
    flex-direction: column;
  }
  .who-we-are .custom-flex .content {
    text-align: center;
  }
  /* who-we-are */
}
@media (min-width: 769px) and (max-width: 991px) {
  /* header */
  header .navbar .mob-nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  header .navbar .navbar-brand {
    padding: 23px 0;
  }
  header .navbar .mob-nav .navbar-toggler {
    border: 0;
    padding: 0;
  }
  header .navbar .mob-nav .navbar-toggler:focus {
    border: 0;
    box-shadow: none;
  }
  header .navbar .mob-nav .nav-link.btn {
    font-size: 14px;
    display: block;
  }
  header .navbar .navbar-nav .nav-item {
    padding: 0 0;
  }
  header .navbar .navbar-nav .nav-item .nav-link.btn {
    display: none;
  }
  header .navbar .mob-nav .navbar-toggler .navbar-toggler-icon {
    background-image: url("./../images/toggle.png");
    background-size: auto;
  }
  header .navbar span .nav-link.btn {
    background: var(--color);
    color: #fff;
    border-radius: 0;
    padding: 11px 19px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  header .navbar .navbar-nav .nav-item::after {
    height: 0;
  }
  header .navbar .navbar-nav .nav-item:last-child {
    display: none;
  }
  header .navbar .navbar-nav .nav-item {
    border-bottom: 1px solid rgba(255, 0, 0, 0.329);
  }
  header .navbar .navbar-nav .nav-item:nth-child(6) {
    border-bottom: 0px solid rgba(255, 0, 0, 0.329);
  }
  header .navbar .navbar-nav .nav-item .nav-link {
    padding: 0 0;
  }
  /* header */
  /* home */
  /* hero slider */
  .hero .swiper {
    padding: 151px 0;
  }
  /* hero slider */
  /* .who-we-are */
  .who-we-are {
    text-align: center;
    padding: 75px 0 70px;
  }
  .who-we-are .col-lg-4 {
    margin-bottom: 40px;
  }
  .who-we-are .custom-flex {
    flex-direction: column;
  }
  .who-we-are .custom-flex .content {
    text-align: center;
  }
  .who-we-are a {
    margin: 0 auto;
  }
  /* .who-we-are */

  /* <!-- our buyer --> */
  .our-buyer h2 {
    font-size: 25px;
    line-height: 39px;
  }
  .our-buyer p {
    font-size: 16px;
    line-height: 29px;
  }
  .our-buyer .slider-arrows {
    margin-left: 0;
    margin-right: auto;
  }
  .our-buyer .swiper {
    left: 1rem;
  }
  .our-buyer .swiper .swiper-slide .swiper-button-next {
    left: -2.4rem;
    max-width: 64px;
    max-height: 64px;
  }
  /* <!-- our buyer --> */

  /* production sample */
  .production-sample {
    background-position: inherit;
  }
  .production-sample .content {
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding: 60px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .production-sample h2 {
    font-size: 25px;
    line-height: 29px;
  }
  .production-sample p {
    color: #222;
    font-size: 16px;
    line-height: 29px;
  }
  .production-sample a {
    font-size: 14px;
  }
  /* production sample */

  /* home */

  /* footer */
  footer h4 {
    margin-top: 20px;
  }
  .tiny-footer p {
    text-align: right;
  }
  .tiny-footer ul {
    justify-content: center;
  }
  /* footer */
}
@media screen and (max-width: 768px) {
  /* navbar */

  header .navbar .navbar-brand {
    padding: 23px 0;
    max-width: 145px;
    margin-right: 0;
  }
  header .navbar .navbar-nav {
    gap: 20px;
  }
  header .navbar .mob-nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  header .navbar .mob-nav .nav-link.btn {
    font-size: 14px;
    display: block;
  }
  header .navbar .mob-nav .navbar-toggler {
    border: 0;
    padding: 0;
  }
  header .navbar .mob-nav .navbar-toggler:focus {
    border: 0;
    box-shadow: none;
  }
  header .navbar .mob-nav .navbar-toggler .navbar-toggler-icon {
    background-image: url("./../images/toggle.png");
    background-size: auto;
  }
  header .navbar span .nav-link.btn {
    background: var(--color);
    color: #fff;
    border-radius: 0;
    padding: 11px 19px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  header .navbar .navbar-nav .nav-item::after {
    height: 0;
  }
  header .navbar .navbar-nav .nav-item:last-child {
    display: none;
  }
  header .navbar .navbar-nav .nav-item {
    padding: 0 0;
    border-bottom: 1px solid rgba(255, 0, 0, 0.329);
  }
  header .navbar .navbar-nav .nav-item:nth-child(6) {
    border-bottom: 0px solid rgba(255, 0, 0, 0.329);
  }
  header .navbar .navbar-nav .nav-item .nav-link {
    padding-left: 0;
  }
  /* navbar */

  /* home */
  /* hero slider */
  .hero .swiper {
    padding: 151px 0;
  }
  .hero .swiper h4 {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 22px;
  }
  .hero .swiper p {
    font-size: 16px;
    line-height: 27px;
  }

  .hero .swiper-pagination .swiper-pagination-current,
  .hero .swiper-pagination .swiper-pagination-total {
    font-size: 20px;
  }

  /* hero slider */

  /* .who-we-are */
  .who-we-are .container-fluid {
    text-align: center;
    padding: 75px 0 70px;
  }
  .who-we-are h3 {
    font-size: 25px;
  }
  .who-we-are p {
    font-size: 16px;
  }
  .who-we-are h4 {
    font-size: 17px;
  }
  .who-we-are .col-lg-4 {
    margin-bottom: 40px;
  }
  .who-we-are .custom-flex {
    flex-direction: column;
  }
  .who-we-are .custom-flex .content {
    text-align: center;
  }
  .who-we-are a {
    margin: 0 auto;
  }
  /* .who-we-are */

  /* <!-- our buyer --> */
  .our-buyer {
    padding-top: 70px;
  }
  .our-buyer h2 {
    font-size: 25px;
    line-height: 39px;
  }
  .our-buyer p {
    font-size: 16px;
    line-height: 29px;
    margin-bottom: 17px;
  }
  .our-buyer .swiper .swiper-slide .content h3 {
    font-size: 23px;
  }
  .our-buyer .swiper .swiper-slide .content h4 {
    font-size: 17px;
  }
  .our-buyer .swiper .swiper-slide .content p {
    font-size: 16px;
  }
  .our-buyer .slider-arrows {
    margin-left: 0;
    margin-right: auto;
  }
  .our-buyer .swiper {
    left: 1rem;
    margin-bottom: 65px;
  }
  .our-buyer .swiper .swiper-slide .img img {
    max-height: 314px;
  }
  .our-buyer .swiper .swiper-slide .swiper-button-next {
    left: -2.4rem;
    max-width: 55px;
    max-height: 55px;
  }
  /* <!-- our buyer --> */

  /* production sample */
  .production-sample {
    background-position: inherit;
  }
  .production-sample .content {
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding: 60px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .production-sample h2 {
    font-size: 25px;
    line-height: 29px;
  }
  .production-sample p {
    color: #222;
    font-size: 16px;
    line-height: 29px;
  }
  .production-sample a {
    font-size: 14px;
  }
  /* production sample */
  /* home */

  /* footer */
  footer h4 {
    margin-top: 20px;
  }
  .tiny-footer img {
    display: flex;
    margin: 0 auto 20px;
  }
  .tiny-footer p {
    text-align: center;
    margin-bottom: 20px;
  }
  .tiny-footer p a {
    display: block;
  }
  .tiny-footer ul {
    justify-content: center;
  }
  /* footer */
}

@media screen and (max-width: 600px) {
  /* navbar */
  header .navbar span .nav-link.btn {
    padding: 11px 10px;
  }
  /* navbar */

  /* home */
  /* hero slider */
  .hero .swiper {
    padding: 151px 0;
  }
  .hero .swiper h4 {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 22px;
  }
  .hero .swiper p {
    font-size: 16px;
    line-height: 27px;
  }

  /* hero slider */
  /* home */

  /* footer */
  footer {
    padding-top: 35px;
  }
  footer hr {
    margin-top: 35px !important;
  }
  footer h4 {
    font-size: 18px;
    border-bottom: 1px solid var(--color);
    width: fit-content;
    margin: 20px 0;
  }
  footer ul {
    gap: 10px;
    align-items: flex-start;
  }
  footer ul li a {
    font-size: 14px;
  }
  footer p {
    font-size: 14px;
    text-align: center;
  }
  /* footer */

  /* tiny-footer */
  .tiny-footer img {
    display: flex;
    margin: 0 auto 20px;
  }
  .tiny-footer p {
    text-align: center;
    margin-bottom: 20px;
  }
  .tiny-footer p a {
    display: block;
  }

  /* tiny-footer */
}
/* responsive */
